.container-fluid{
display: flex;
background: rgb(250, 250, 250);
}

.botonesdebarra{
display: flex;
flex-direction: row;
}

.barradenavegacion{
display: flex;
flex-direction: row;
border: solid 1px rgb(0, 0, 0);
margin-inline-end: 30px;
}

#bontessuperioresizqui{
    display: flex;
    flex-direction: row;
}

.btn-outline-success{
    margin-right: 10px;
}

#botonregistrate{
    margin-right: 5px;
    background: rgb(252, 118, 118);
}

#botonpaisajes{
    background:  rgb(123, 246, 246);
}

#botoncosta{
    background:  rgb(246, 238, 123);
}

#botonsierra{
    background:  rgb(250, 177, 59);
}

#botonselva{
    background:  rgb(129, 246, 123);
}

#botonbuscar{
    background:  rgb(182, 190, 252);
    color: rgb(0, 0, 0);
}


.carruselytexo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px; 
}

.minicarrusel{
    display: flex;
    justify-content: center;
    width:60%;
    height: 500px;
    margin-right: 2%;
    min-width: 1000px;
    
    
}

  
.textocarrusel{
    display: flex;
    width:30%;
    border: solid 1px rgb(185, 72, 237); 
    margin-right: 2%;  
    padding: 3%;
    align-items: center;
    text-align: center;
    min-width: 400px;
}



.ultimocarrusel{
    margin-bottom: 20px;;
}

.contenedordelformulario{
    padding: 5%;
    border: solid 5px rgb(159, 202, 254);
    margin: 5%;
}

.cajabotonregistar{
    display: flex;
    justify-content: center;
}
#botonregistar{
display: flex;
justify-content: center;
background: rgb(34, 100, 243);
}




